input[type=button]{
    width: 200px;
    height: 200px;
    font-size: 100px;
}

table{
    position: relative; /*Para que los elementons se posciciones de forma absoluta sobrela table*/
}

td{
    position: relative;
}

tr{
    position: relative;
}

/* 
td:nth-child(3)::after{
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left:50%; 
    width: 5px; 
    background-color: black;
    z-index: 1;
    pointer-events: none;
}  */

/* tr:nth-child(2)::after{
    content: "";
    position: absolute;
    top: 50%;
    
    left:0;
    right: 0;
    height: 5px; 
    background-color: black;
    z-index: 1;
    pointer-events: none;
} */

/* table::after{
    content: "";
    position: absolute ;
    top: 0;
    left: 0;
    width: calc(100% * 1.414);
    height: calc(100% * 1.414);
    border-top: 5px solid black; 
    transform: rotate(45deg);
    transform-origin: top left;
    z-index: 1;
    pointer-events: none;
} */

/* table::before{
    content: "";
    position: absolute ;
    top: 0;
    right: 0;
    width: calc(100% * 1.414);
    height: calc(100% * 1.414);
    border-top: 5px solid black; 
    transform: rotate(-45deg);
    transform-origin: top right;
    z-index: 1;
    pointer-events: none;
}  */
